---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{%- set buildDate = page.date.toISOString().split("T")[0] -%}
{%- set filmsLastMod = (films.items[0].date + "-01") if films.items[0] else buildDate -%}
{%- set upcomingFirst = (live.upcoming | upcomingOnly | first) -%}
{%- set liveLastMod = upcomingFirst.date if upcomingFirst else buildDate -%}
{%- set homeLastMod = (["src/pages/home.njk", "src/_data/home.json"] | gitLastMod) or buildDate -%}
{%- set aboutLastMod = (["src/pages/about.njk", "src/_data/about.json"] | gitLastMod) or buildDate -%}
{%- set contactLastMod = (["src/pages/contact.njk", "src/_data/contact.json"] | gitLastMod) or buildDate -%}
{%- set pressLastMod = (["src/pages/press-kit.njk", "src/_data/presskit.json"] | gitLastMod) or buildDate -%}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <!-- English Pages -->
  <url>
    <loc>https://josepbernad.com/en/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/"/>
    <lastmod>{{ homeLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/en/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/films/"/>
    <lastmod>{{ filmsLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/en/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/about/"/>
    <lastmod>{{ aboutLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/en/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/contact/"/>
    <lastmod>{{ contactLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/en/live/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/live/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/live/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/live/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/live/"/>
    <lastmod>{{ liveLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/en/press-kit/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/press-kit/"/>
    <lastmod>{{ pressLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>

  <!-- Spanish Pages -->
  <url>
    <loc>https://josepbernad.com/es/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/"/>
    <lastmod>{{ homeLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/films/"/>
    <lastmod>{{ filmsLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/about/"/>
    <lastmod>{{ aboutLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/contact/"/>
    <lastmod>{{ contactLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/live/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/live/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/live/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/live/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/live/"/>
    <lastmod>{{ liveLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/es/press-kit/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/press-kit/"/>
    <lastmod>{{ pressLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>

  <!-- Catalan Pages -->
  <url>
    <loc>https://josepbernad.com/ca/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/"/>
    <lastmod>{{ homeLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/films/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/films/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/films/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/films/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/films/"/>
    <lastmod>{{ filmsLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/about/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/about/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/about/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/about/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/about/"/>
    <lastmod>{{ aboutLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/contact/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/contact/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/contact/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/contact/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/contact/"/>
    <lastmod>{{ contactLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/live/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/live/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/live/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/live/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/live/"/>
    <lastmod>{{ liveLastMod }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://josepbernad.com/ca/press-kit/</loc>
    <xhtml:link rel="alternate" hreflang="en" href="https://josepbernad.com/en/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="es" href="https://josepbernad.com/es/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="ca" href="https://josepbernad.com/ca/press-kit/"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="https://josepbernad.com/en/press-kit/"/>
    <lastmod>{{ pressLastMod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
</urlset>
